*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7e726c;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
}

h1 {
    margin-bottom: 5vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #de0707;
}

#reset-btn{
 padding: 1rem;   
 font-size: 1.25rem;
 background-color: #1d1717;
 color: #fff;
 border: none;
 border-radius: 1rem;
 margin-top: 3vh;
 cursor: pointer;
}